@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Outfit", sans-serif;
}

#rectangleG {
  background-image: url(../images/iconos/RectangleG.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
